apiVersion: apps/v1
kind: Deployment
metadata:
  name: shop-backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shop-backend
  template:
    metadata:
      labels:
        app: shop-backend
    spec:
      imagePullSecrets:
        - name: ghcr-auth
      containers:
        - name: shop-backend
          image: ghcr.io/jangruebener/k8s-shop-backend:latest
          env:
          - name: DB_HOST
            value: "shop-database-service"
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: mysql-app-secret
                key: db-user
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-app-secret
                key: mysql-app-password
          - name: DB_NAME
            value: "shopdb"
          ports:
          - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: shop-backend-service
spec:
  type: ClusterIP
  selector:
    app: shop-backend
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP