apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: shop-mysql-statefulset
spec:
  serviceName: shop-database-service
  replicas: 1
  selector:
    matchLabels:
      app: shop-mysql
  template:
    metadata:
      labels:
        app: shop-mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-database
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "512Mi"
  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: gp3
        resources:
          requests:
            storage: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: shop-database-service
spec:
  type: ClusterIP
  selector:
    app: shop-mysql
  ports:
    - port: 3306
      targetPort: 3306